body{
    background: url("https://wallpapercave.com/wp/wp9765076.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    display:flex;
    justify-content: space-around;
    border: 5px black;
    background: linear-gradient(black,white);
    border-radius: 20% 0% 20% 0%;
}
img{
    height:250px;
    width: 250px;
}
h1{
    margin-bottom: 120px;
    color: white;
    text-shadow: 5px 5px 5px grey;
}
h3{
    text-align: center;
    font-size:x-large;
    color:red;
}